/* these are the most necessary styles */

.scrollbar-pane {
    left: 0;
    margin-right: 20px;
}

.scrollbar-handle-container {
    right: 0;
    background: #EEE;
    width: 20px;
}

.scrollbar-handle-container .scrollbar-handle {
    right: 0;
    width: 20px;
    background: #999;
}

.scrollbar-handle-container .scrollbar-handle.hover {
    background: #666;
}

.scrollbar-handle-container .scrollbar-handle.move {
    background: #111;
}

.scrollbar-handle-up {
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: #DDD;
}

.scrollbar-handle-up.hover {
    background: #666;
}

.scrollbar-handle-down {
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: #DDD;
}

.scrollbar-handle-down.hover {
    background: #666;
}



/* top-bottom prototype */

.top-bottom.scrollbar {
    position: relative;
}

.top-bottom.scrollbar .scrollbar-pane {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    height: auto;
}

.top-bottom.scrollbar .scrollbar-handle-up {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 20px;
    background: #DDD;
    opacity: 0.7;
}

.top-bottom.scrollbar .scrollbar-handle-down {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 20px;
    background: #DDD;
    opacity: 0.7;
}
