/* right prototype */

.right.scrollbar {
    position: relative;
}

.right.scrollbar .scrollbar-pane {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    height: auto;
    margin-right: 20px;
}

.right.scrollbar .scrollbar-handle-container {
    position: absolute;
    right: 0;
    top: 20px;
    background: #EEE;
    height: 260px;
    width: 20px;
}

.right.scrollbar .scrollbar-handle-container .scrollbar-handle {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 60px;
    background: #999;
    cursor: pointer;
}

.right.scrollbar .scrollbar-handle-container .scrollbar-handle.hover {
    background: #666;
}

.right.scrollbar .scrollbar-handle-container .scrollbar-handle.move {
    background: #333;
}

.right.scrollbar .scrollbar-handle-up {
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: #DDD;
}

.right.scrollbar .scrollbar-handle-down {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: #DDD;
}

/* top-bottom prototype */

.top-bottom.scrollbar {
    position: relative;
}

.top-bottom.scrollbar .scrollbar-pane {
    position: absolute;
    overflow: visible;
    top: 0;
    left: 0;
    height: auto;
}

.top-bottom.scrollbar .scrollbar-handle-up {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 20px;
    background: #DDD;
    opacity: 0.7;
}

.top-bottom.scrollbar .scrollbar-handle-down {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 250px;
    height: 20px;
    background: #DDD;
    opacity: 0.7;
}
